body {
    background-color: green;
}

.clock {
    border-radius: 50%;
    background-color: lightgray;
    height: 400px;
    width: 400px;
    display: block;
    margin: auto;
    position: relative;
    box-shadow: 20px 20px 50px 10px orange inset;
}

.middle-dot {
    border-radius: 50%;
    position: relative;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    background-color: black;
    margin: -10px 0 0 -10px;
}

.second-hand {
    width: 190px;
    height: 2px;
    background-color: yellow;
    margin-top: 190px;
    margin-left: 200px;
    position: absolute;
    transform-origin: 0%;
    transform: rotate(-90deg);
    animation-name: second-hand-anim;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.minute-hand {
    height: 4px;
    width: 150px;
    background-color: navy;
    margin-top: 185px;
    margin-left: 200px;
    position: absolute;
    transform-origin: 0%;
    transform: rotate(200deg);
    animation-name: minute-hand-anim;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-duration: 3600s;
    animation-iteration-count: infinite;
}

.hour-hand {
    height: 6px;
    width: 100px;
    background-color: red;
    margin-top: 185px;
    margin-left: 200px;
    position: absolute;
    transform-origin: 0%;
    transform: rotate(0deg);
    animation-name: hour-hand-anim;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-duration: 216000s;
    animation-iteration-count: infinite;
}

/*ANIMATED SECOND HAND*/
@keyframes second-hand-anim {
    0% {
        transform: rotate(-90deg);
        
      }

    25% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(90deg);
    }

    75% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(270deg);
    }
}

/*ANIMATED MINUTE HAND*/
@keyframes minute-hand-anim {
    0% {
        transform: rotate(-90deg);

    }

    25% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(90deg);
    }

    75% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(270deg);
    }
}

/*ANIMATED HOUR HAND*/
@keyframes hour-hand-anim {
    0% {
        transform: rotate(-90deg);

    }

    25% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(90deg);
    }

    75% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(270deg);
    }
}