.clock {
    border-radius: 50%;
    background-color: lightgrey;
    height: 400px;
    width: 400px;
    display: block;
    margin: auto;
    position: relative;

}

.middle-dot {
    border-radius: 50%;
    position: relative;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;;
    background-color: black;
    
      /* 
    Offset the position correctly with
    minus half of the width and minus half of the height 
   */
    margin: -10px 0 0 -10px;
   


}

.second-hand {
    width: 220px;
    height: 2px;
    background-color: blue;
    margin-top: 200px;
    margin-left: 200px;
    position: absolute;
    
    transform-origin: 0%;
    transform: rotate(50deg);
}

.minute-hand {
    height: 4px;
    width: 200px;
    background-color: orange;
}

.hour-hand {
    height: 6px;
    width: 180px;
    background-color: red;
}
