body {
    background-color: skyblue;
}

.gif {
    position: absolute;
    top: 100px;
    left: 0px;
    background-color: red;
    animation-name: example;
    animation-duration: 9s;
    animation-fill-mode: forwards;
    animation-direction:normal;
    animation-iteration-count: infinite;
    

}

@keyframes fly {

    from {
        transform: translate(0px, 0px) translateZ(0)
    }

    to {
        transform: translate(600px, 700px) translateZ(1200px)
    }



}

/* The animation code */
@keyframes example {
    0%{
        background-color: red;
        transform: translate(0px, 0px);
    }
    25%{
        background-color: orange;
        transform: translate(1000px, 0px);
    }
    50%{
        background-color: yellow;
        transform: translate(1000px, 400px);
    }
    75%{
        background-color: pink;
        transform: translate(0px, 400px);
    }
    100%{
        background-color: green;
        transform: translate(0px, 0px);
    }
}