.navicons {
    padding-right: 12px;
    padding-left: 12px;
    font-size: 36px;
    color: white;
}

.form-inline {
    padding-left: 30px;
}

.card-img-tv-channel {
    width: 100%;
    height: 150px;
    font-size: 200px;

}

.card-body {

    transition: background 1s;
    
    
}

.card-body:hover {
    background-color: #383838;
    color: white;

    /*    -webkit-transform: rotate(180deg);  Safari */
    /*  transform: rotate(180deg);*/

}

.card {
    -webkit-transition: width 1s, height 1s, -webkit-transform 1s;
    /* Safari */
    transition: width 1s, height 1s, transform 1s;
}

.card:hover {

    /* -webkit-transform: rotate(180deg);  Safari */
    /*  transform: rotate(180deg);*/
}

.number-of-views,
.when-uploded {

    color: red;
}

.number-of-views:hover,
.when-uploded:hover {
    -webkit-transform: rotate(90deg);
    /*Safari */
    transform: rotate(90deg);

}
#p{
    color: grey;
    
}





#be-amazed {

    display: none;
}
