.navicons {
    padding-right: 12px;
    padding-left: 12px;
    font-size: 36px;
    color: white;
}

.form-inline {
    padding-left: 30px;
}

.card-img-tv-channel {
    width: 100%;
    height: 150px;
    font-size: 200px;

}

.card-body {
   font-family: myFirstFont;
   src: url(sansation_light.woff);
    
    background-color:   blue;
    transition: background 2s;
    transition-delay: 2s;
}

.card-body:hover {
    background-color: red;
    color: white;
    -webkit-transform: rotate(180deg); /* Safari */
  transform: rotate(180deg);
}
.card{
-webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
  transition: width 2s, height 2s, transform 2s;
}
.card:hover {
    
 -webkit-transform: rotate(180deg); /* Safari */
  transform: rotate(180deg);
}